<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Basic HTML5 Template</title>
    <meta name="description"
          content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url"
          content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description"
          content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
<header>
    <div class="header-content">
        <div class="logo">
            <canvas id="circle-logo"
                    width="60"
                    height="60"
                    style="
          background-color:red;
          border-radius: 50px;
            ">
            </canvas>
            <p>The Intuitive Programmer</p>
        </div>
    </div>
</header>
<div class="spalsh-content">
    <h1> LESS IS</h1>
    <h1> MORE</h1>

</div>
<main>
<template></template>
</main>
<footer>
    Loyalty and devotion lead to bravery. Bravery leads to the spirit of
    self-sacrifice.<br>The spirit of self-sacrifice creates trust in the power
                         of love.<br>
    -Morihei Ueshiba
</footer>
<script src="js/scripts.js"></script>
</body>
</html>
